<div class="ms-app-container">
  <mat-toolbar color="secondaryVariant">
    <mat-form-field>
      <mat-select [value]="selectedLevel"
                  (selectionChange)="onLevelChange($event)">
        <mat-option *ngFor="let level of LEVELS"
                    [value]="level.value">
          {{ level.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>

  <div class="app-content-container">
    <div class="board-container">
      <ms-board [level]="selectedLevel"></ms-board>
    </div>
  </div>
</div>
